<html>
	<head>
		<title>Post an article</title>
	</head>
	<body>
		<form method = "post">

			<input type = "text" name = "title" placeholder = "Enter title">
			<input type = "text" name = "author" placeholder = "Enter author's name">
			<input type = "text" name = "content" placeholder = "Enter content">

			<button type = "submit">Create</button>

		</form>
	</body>
</html>